body{
    padding: 0;
    margin: 0;
}

.img-cover {
    background-image: url("https://cdn.pixabay.com/photo/2019/08/06/09/32/mobile-4387879_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    color: white;
    height: 30rem;
}

.img-cover-about{
    background-image: url("https://cdn.pixabay.com/photo/2018/01/16/16/47/adult-3086304_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    height: 20rem;
}

footer {
    color: white;
}
footer a{
    color: white;
}